@using Microsoft.AspNetCore.Components.Forms
@using Shared.DTOs
@using Shared.Interfaces
@using Microsoft.JSInterop
@inject NavigationManager Navigation
@inject IAuthService authService
@inject IJSRuntime JSRuntime

<div class="login-page">
<EditForm Model="request" OnValidSubmit="HandleLogin" method="post">
    <DataAnnotationsValidator />
        <CustomInput Label="Email:" @bind-Value="request.Email" />

        <CustomInput Label="Password:" Type="password" @bind-Value="request.Password" />

        <CustomButton Type="submit">Login</CustomButton>
</EditForm>
</div>

@code {
    [Parameter]
    public string PathAfterLogin { get; set; }
    private UserLoginDTO request = new();

    private async Task HandleLogin() 
    {
        var result = await authService.LoginAsync(request);
        if (result)
        {
            Navigation.NavigateTo(PathAfterLogin);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Login failed");
        }
    }
}