@page "/products"
@using ComponentsCommon
@using Shared.Models
@using Admin.Services
@inject NavigationManager Navigation
@inject ProductService ProductService

<h3 class="page-title">Products</h3>

<ProductList Products="products" OnEdit="EditProduct" OnDelete="DeleteProduct" />

<div class="add-product-container">
    <button class="btn-add" @onclick="AddProduct">Add New Product</button>
</div>

@code {
    private List<ProductViewModel> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProductAsync();
    }

    private void AddProduct()
    {
        Navigation.NavigateTo("/add-edit-product");
    }

    private void EditProduct(int id)
    {
        Navigation.NavigateTo($"/add-edit-product/{id}");
    }

    private async Task DeleteProduct(int id)
    {
        bool isDeleted = await ProductService.DeleteProductAsync(id);
        if (isDeleted)
        {
            products = await ProductService.GetAllProductAsync();
        }
    }
}